body, html {
    height: 100%;
    font-family:Arial, Helvetica, sans-serif
}
/* * {
    border: 1px solid blueviolet;
} */

header,
footer {
    background-color: #1F2937;
}

.nav-bar {
    display: flex;
    padding: 16px;
    height: 75px;
}

.nav-bar .logo {
    display: flex;
    flex: 2;
    font-size: 24px;
    color: #F9FAF8;
}

.nav-bar img {
    align-items: flex-end;
    height: 35px;
    /*try to fix white-background of png's*/
    /* mix-blend-mode: multiply; */
}

.nav-bar ul {
    display: flex;
    flex: 1;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
}
    

.nav-bar a {
    text-decoration: line-through;
    align-items: center;
    margin-right: 32px;
    font-size: 18px;
    color: #E5E7EB;
}

/* linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) */

.hero-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('/img/puppy.jpg');
    height: 600px;
    width: auto;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    position: relative;
    background-position: center;
    overflow: hidden;
}

.hero-text h1 {
    font-size: 48px;
    font-weight: 1000;
    color: #F9FAF8;
}

.hero-text {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-text button {
    font-size: 16px;
    padding: 6px;
    border-radius: 15px 50px 30px;
    border: 2px solid #68a31f8a;

    /* opacity: 0.7;
    outline: none;
    background-color: transparent;
    border: none; */
}

.hero-text button:hover {
    color: blue;
    border: 2px solid blue;
}