body, html {
    height: 100%;
    font-family:Arial, Helvetica, sans-serif
}
/* * {
    border: 1px solid blueviolet;
} */

header,
footer {
    background-color: #1F2937;
}

footer {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.footer-text {
    font-size: 18px;
    color: #E5E7EB;
}

.nav-bar {
    display: flex;
    padding: 16px;
    height: 75px;
}

.nav-bar .logo {
    display: flex;
    flex: 2;
    font-size: 24px;
    color: #F9FAF8;
}

.nav-bar img {
    align-items: flex-end;
    height: 35px;
    /*try to fix white-background of png's*/
    /* mix-blend-mode: multiply; */
}

.nav-bar ul {
    display: flex;
    flex: 1;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
}
    

.nav-bar a {
    text-decoration: line-through;
    align-items: center;
    margin-right: 32px;
    font-size: 18px;
    color: #E5E7EB;
}

/* linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) */

.hero-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('/img/puppy.jpg');
    height: 600px;
    width: auto;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    position: relative;
    background-position: center;
    overflow: hidden;
    /* border: 2px solid #3882F6; */
}

.hero-text h1 {
    font-size: 48px;
    font-weight: 1000;
    color: #F9FAF8;
}

.hero-text {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-text button {
    font-size: 16px;
    padding: 6px;
    border-radius: 15px 50px 30px;
    border: 2px solid #3882F6;

    /* opacity: 0.7;
    outline: none;
    background-color: transparent;
    border: none; */
}

.hero-text button:hover {
    color: blue;
    border: 2px solid blue;
}

.content {
    background-color: #E5E7EB;
}

.print-info,
.crochet-info {
    text-align: center;
    color: #1F2937;
    font-size: 36px;
    font-weight: 1000;
    padding: 32px;
    margin: 40px;
}

.print-container,
.crochet-container {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.info {
    border: 3px solid #3882F6;
    border-radius: 10px;
    padding: 8px;
    margin: 16px;
    flex: 0 0 20%;
}

blockquote {
    background-color: #E5E7EB;
    margin: 32px;
    width: 1000px;
    text-align: center;
    margin: 3em auto;
}

.quote {
    padding: 50px;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    position: relative;
}

cite {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    color: #1F2937;
    position: absolute;
    right: 0;
    bottom: -30px;
    text-align: right;
}

.action {
    display: flex;
    background-color: #3882F6;
    margin: 50px;
    padding: 50px;
    margin-top: 150px;
}

.top   {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
}

.bottom {
    font-size: 18px;
    color: #E5E7EB;
}

.action-container {
    display: flex;
    flex: 1;
    justify-content: space-between;
    margin-left: 250px;
    margin-right: 250px;
}

.action button {
    font-size: 16px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #F9FAF8;
    color: #F9FAF8;
    background-color: #3882F6;
}

.action button:hover {
    color: purple;
    border: 2px solid purple;
}